<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.sakd.core.model.mapper.ArticleFileCatoryMapper">
  <resultMap id="BaseResultMap" type="com.soft.sakd.core.model.entity.ArticleFileCatory">
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="file_catory_id" jdbcType="BIGINT" property="fileCatoryId" />
  </resultMap>
  <insert id="insert" parameterType="com.soft.sakd.core.model.entity.ArticleFileCatory">
    insert into t_article_file_catory (article_id, file_catory_id)
    values (#{articleId,jdbcType=BIGINT}, #{fileCatoryId,jdbcType=BIGINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select article_id, file_catory_id
    from t_article_file_catory
  </select>

  <select id="queryByArticleId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select article_id, file_catory_id
    from t_article_file_catory where article_id = #{articleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteAllByArtileId" parameterType="java.lang.Long">
    delete from t_article_file_catory
    where article_id = #{articleId,jdbcType=BIGINT}
  </delete>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into t_article_file_catory (article_id, file_catory_id)
    values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.articleId,jdbcType=BIGINT}, #{item.fileCatoryId,jdbcType=BIGINT})
    </foreach>
  </insert>
</mapper>